# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"

# APP_URL: The URL where this application is hosted.
APP_URL="YOUR_APP_URL"

VITE_SUPABASE_URL="YOUR_SUPABASE_URL"
VITE_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"
SUPABASE_JWT_SECRET="YOUR_SUPABASE_JWT_SECRET"
VITE_WALLETCONNECT_PROJECT_ID="YOUR_WALLETCONNECT_PROJECT_ID"
VITE_ADMIN_WALLET="0x27545eB2be12eAF146CaAB5f2436FC933AfA57a5"
VITE_APP_ENTRY_URL="/app"